:root {
    --arial: Arial;
    --font-color-white: white;

    --active-status: #3FD99B;
    --active-status-border: cornflowerblue;

    --standard-blue-bg: cornflowerblue;
    --standard-red: red;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.userInfo {
    background: var(--standard-blue-bg);
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    font-family:  var(--arial);
    font-size: 1.1rem;
    color: var(--font-color-white)
}

.userInfo .friendsList {
    margin-top: 10px;
}

.userInfo .remove-btn {
    background: var(--standard-red);
    padding: 10px;
    width: auto;
    border-radius: 50px;
    border: 2px solid var(--standard-red);
    display: inline-block;
    margin: 10px 0px;
}

.remove-btn:hover {
    background: white;
    color: var(--standard-red);
    cursor: pointer;
}

.active {
    background: var(--active-status);
    animation: active-user .3s cubic-bezier(.41,0,.61,.99) forwards alternate;
}

.inactive {
    background: coral;
}

@keyframes active-user {
    0% {border-left: 0px solid green;}
    100% {border-left: 10px solid green;}
}



